*{
    padding:0px;
    margin:0px;
}
section{
    margin:0 auto!important;
    max-width:375px!important;
    max-height: 812px!important;

}
.logo{
    padding-top:37px;
}
.Sendlogo_one-row{
    height: 312px;
}
.Sendlogo_one{
    width:100%;
    display: flex;
    padding-left:20px;
    justify-content: center;
    align-items: center;
}
.Sendlogo_one a{
    
    color: #6A73E2;
    font-size: 40px;
}

.Sendlogo_one a:hover{
    
    color: #6A73E2;
    text-decoration: none;
}

.Sendlogo_one img{
    font-size: 20px!important;
    width:160px;
}
.receive_one-row{
    height:312px;
}
.receive_one{
    width:100%;
    display: flex;
    padding-left:20px;
    justify-content: center;
    align-items: center;
}

.receive_one a{
    color: #FA578E;
    font-size: 40px;
}

.receive_one a:hover{
    color: #FA578E;
    font-size: 40px;
    text-decoration: none;
}

.receive_one img{
    font-size: 20px!important;
    width: 160px !important;;
}

.receivelogo{
    
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.receivelogo a{
    color: #FA578E;
    font-size: 40px;
}
.receivelogo a:hover{
    text-decoration: none;
    color: #FA578E;
}
.receivelogo img{
    font-size: 20px!important;
    width:160px;
}

h2{
    padding-top:15px;
    font-weight: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
    color:#707070;
    margin-top: 10%!important;
}
.share{
    color:#6A73E2;
}
.money{
    color:#FA578E;
}

.login_para{
    color:#707070;
    padding-top:10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
}
form{
    margin-top:10%;
}
.form-group{
    padding-top: 10px;
}
.form-group input{
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
    color:#707070;
    
}
.forget_pass{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
    margin-top:15px!important;
    color:#6A73E2;
    margin-left:45%;
}
.Login{
    color:#fff!important;
    background:#6A73E2!important;
    margin-top:20px;
    border-radius: 20px!important;
    width:100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    align-items: center;
}

.Login::before{
    content:'';
    position:absolute;
    left:0;
    top:0;
    transform:scaleX(0);
    transform-origin: 0 50%;
    width:100%;
    height: 100%;
    z-index: -1;
    transition: transform 750ms;
}
.Login:hover::before{
    transform:scaleX(1);
    background-color: #FA578E;
}







.Create{ 
    color:#fff!important;
    background:#6A73E2!important;
    margin-top:20px;
    border-radius: 20px!important;
    width:100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    align-items: center;
}
.Create::before{
    content:'';
    position:absolute;
    left:0;
    top:0;
    transform:scaleX(0);
    transform-origin: 0 50%;
    width:100%;
    height: 100%;
    z-index: -1;
    transition: transform 750ms;
}

.Create:hover::before{
    transform:scaleX(1);
    background-color: #FA578E;
}






.Start_Tutorial{
    color:#fff!important;
    background:#6A73E2!important;
    margin-top:20px;
    border-radius: 20px!important;
    width:100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    align-items: center;
}
.Start_Tutorial::before{
    content:'';
    position:absolute;
    left:0;
    top:0;
    transform:scaleX(0);
    transform-origin: 0 50%;
    width:100%;
    height: 100%;
    z-index: -1;
    transition: transform 750ms;
}
.Start_Tutorial:hover::before{
    transform:scaleX(1);
    background-color: #FA578E;
}





.create_new{
    color:#707070;
    padding-top:10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
}

.create_new a{
    color: #6A73E2;
}

.create_new a:hover{
    color:#FA578E;
    text-decoration: none;
}
.forget_pass:hover{
    color:#FA578E;
    text-decoration: none;
}
.Skip{
    color: #6A73E2!important;
    margin-top: 20%;
}
.Skip:hover{
    color:#FA578E!important;
    text-decoration: none!important;    
}

.money{
    position:relative;
}
.send{
    position:absolute;
    width:30%;
    right:70%;
    padding-top:20%;
    transform: rotate(340deg) ;
}
.receive{
    position:absolute;
    width:30%;
    right:10%;
    padding-top:5%;
    transform: rotate(340deg) ;
}
.send_receive{
    position:absolute;
    width:35%;
    right:10%;
    padding-top:2%;
}
.carousel p{
    margin-top:10%;
    width:90%;
    justify-content: center;
    text-align:center;
}


.carousel{
    margin-top: 10%;
    position:relative;
}

.carousel_track-container{
    position: relative;
    overflow:hidden;
    width:100%;
    height: 350px;
}
.carousel_track-container h3{
    margin:0px 5% 5% 5%!important;
    font-size: 25px;
}
.carousel__track{
    padding:0;
    margin:0;
    position: relative;
    transition:transform 750ms ease-in;
    list-style: none!important; 
}
.carousel__slide{
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}
.carousel__nav{
    display:flex;
    justify-content: center;
    padding:20px 0;
}

.carousel__indicator{
    border:0;
    border-radius:20px;
    width:33px;
    cursor:pointer;
    padding:0 33px;
    height:20px;
    margin:0 15px; 
    background:rgba(0,0,0,.3);
}
.carousel__indicator.current-slide {
    background:#FA578E;

}
.drop_shadow{
    width:500%;
    border-radius: 0px 0px 200px 200px;
    padding: 10px;
    box-shadow: 0 10px #77777777;
}

.icon{
    margin-top:5%;
    font-size: 90px;
}

.icons{
    margin-top:15%;
    font-size: 60px;
}
.request_a{
    text-decoration: none!important;
    
}

.request_a h6{
    padding:10px!important;
    
}